<div class="row contextual-buttons">
	<div class="action-buttons">
		<button ng-click="newCategory()"><i18n>forum.category.new</i18n></button>
	</div>
</div>

<table class="twelve">
	<tr>
		<th><input type="checkbox" ng-model="display.selectCategories" ng-change="switchAllCategories()" /></th>
		<th><i18n>forum.category</i18n></th>
		<th><i18n>forum.category.icon</i18n></th>
	</tr>
	<tr ng-repeat="category in categories.all" ng-class="{ checked: category.selected }">
		<td><input type="checkbox" ng-model="category.selected" /></td>
		<td>[[category.name]]</td>
		<td><img ng-src="[[category.icon]]?thumbnail=48x48" /></td>
	</tr>
</table>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'forum'" resources="categories.selection()"></share-panel>
	</lightbox>
</div>

<section class="toggle-buttons" ng-class="{ hide: categories.selection().length === 0 }">
	<div class="toggle block-container">
		<div class="row">
			<behaviour name="manage" resource="categories.selection()" class="cell">
				<button ng-click="editCategory()" ng-if="categories.selection().length === 1"><i18n>edit</i18n></button>
			</behaviour>
			<behaviour name="manage" resource="categories.selection()" class="cell">
				<button ng-click="categories.removeSelection()"><i18n>remove</i18n></button>
			</behaviour>
			<behaviour name="share" resource="categories.selection()" class="cell">
				<button ng-click="display.showPanel = true;"><i18n>share</i18n></button>
			</behaviour>
		</div>
	</div>
</section>