<h1><i class="forum"></i><i18n ng-click="openMainPage()">forum.title</i18n></h1>

<div class="items">
	<div class="twelve cell">
		<div workflow="forum.admin" class="cell">
			<button ng-click="newCategory()"><i18n>forum.category.new</i18n></button>
		</div>
		<i class="open-right right-magnet big-hidden" ng-click="template.close('main')"></i>
	</div>
	<hr />
	<div class="row" ng-repeat="cat in categories.all" ng-click="openCategory(cat)" ng-class="{ selected: cat === category }">
		<div class="cell">
			<img skin-src="/img/illustrations/forum-default.png" ng-if="(cat.icon === undefined)" class="cell" />
			<img ng-src="[[cat.icon]]?thumbnail=120x120" ng-if="cat.icon !== undefined" class="cell" />
		</div>
		<article>
			<h1 class="overflow-hidden-dotted">[[cat.name]]</h1>
			<strong class="small-text">
				<span class="right-magnet" style="line-height: 50px" ng-if="cat.nbNewMessages > 1">
					[[cat.nbNewMessages]]
					<i18n>forum.message.new.plural</i18n>
				</span>
				<span class="right-magnet" style="line-height: 50px" ng-if="cat.nbNewMessages === 1">
					[[cat.nbNewMessages]]
					<i18n>forum.message.new.single</i18n>
				</span>
				<span class="right-magnet" style="line-height: 50px" ng-if="cat.nbNewMessages === 0">
					<i18n>forum.message.new.none</i18n>
				</span>
			</strong>
			<div class="bottom-locked">
				<resource-right name="manage" resource="cat">
					<input type="checkbox" ng-model="cat.showButtons" ng-change="hideAlmostAllButtons(cat)"/>
				</resource-right>
			</div>
			<div class="buttons" ng-class="{ hidden: !cat.showButtons || cat !== category }">
				<resource-right name="manage" resource="cat">
					<button ng-click="editCategory(cat, $event)"><i18n>edit</i18n></button>
					<button ng-click="confirmRemoveCategory(cat, $event)"><i18n>remove</i18n></button>
					<button ng-click="shareCategory(cat, $event)"><i18n>share</i18n></button>
				</resource-right>
			</div>
		</article>
	</div>
</div>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'forum'" resources="category"></share-panel>
	</lightbox>
</div>

<div ng-if="display.confirmDeleteCategories">
	<lightbox show="display.confirmDeleteCategories" on-close="cancelRemoveCategory()">
		<div class="row" ng-if="categories.selection().length === 1">
			<i18n>forum.confirm.delete.category</i18n>
		</div>
		<div class="row" ng-if="categories.selection().length > 1">
			<i18n>forum.confirm.delete.categories</i18n>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="removeSelectedCategories()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveCategory()" />
		</div>
	</lightbox>
</div>

<section class="toggle-buttons" ng-class="{ hide: categories.selection().length === 0 }">
	<div class="toggle">
		<div class="row">
			<resource-right name="manage" resource="categories.selection()" class="cell">
				<button ng-click="editCategory()" ng-if="categories.selection().length === 1"><i18n>edit</i18n></button>
			</resource-right>
			<resource-right name="manage" resource="categories.selection()" class="cell">
				<button ng-click="confirmRemoveSelectedCategories()"><i18n>remove</i18n></button>
			</resource-right>
			<resource-right name="share" resource="categories.selection()" class="cell">
				<button ng-click="display.showPanel = true;"><i18n>share</i18n></button>
			</resource-right>
		</div>
	</div>
</section>