<head>
	<link rel="stylesheet" type="text/css" href="/forum/public/css/custom.css">
</head>

<div class="row">
	<h2 class="cell">[[subject.title]]</h2>

	<a id="top" ng-click="scrollTo('bottom')" class="right-magnet">&darr; Voir le dernier commentaire</a>
</div>

<behaviour name="contrib" resource="subject">
	<button ng-click="template.open('main', 'reply')" ng-if="!subject.locked">Répondre</button>
</behaviour>

<div ng-repeat="message in messages.all">
	<div class="row vertical-spacing"></div>
	<div class="illustrated-article">
		<div class="small illustration" ng-click="viewAuthor(message)">
			<div class="image">
				<img ng-src="/userbook/avatar/[[message.owner.userId]]" />
			</div>
		</div>
		<article class="illustrated-text" ng-if="message !== editedMessage">
			<div class="row">
				<div class="six cell">
					<strong><a href="/userbook/annuaire/[[message.owner.userId]]">[[message.owner.displayName]]</a></strong>, le <span class="small-text">[[formatDateShort(message.created.$date)]]</span>
				</div>
				<behaviour name="publish" resource="subject" class="contextual-buttons right-magnet small-text">
					&nbsp;<i18n>forum.or</i18n>&nbsp;
					<a ng-click="removeMessage(message)">
						<i18n>forum.remove</i18n>
					</a>
				</behaviour>
				<behaviour name="publish" resource="message" class="contextual-buttons right-magnet small-text">
					<a ng-click="editMessage(message)">
						<i18n>forum.edit</i18n>
					</a>
				</behaviour>
			</div>
			<p bind-html="message.content"></p>
		</article>
		<article class="illustrated-text" ng-if="message === editedMessage">
			<html-editor ng-model="editedMessage.content" required></html-editor>
			<div class="ten cell warning" ng-if="editedMessage.error !== undefined" translate content="[[editedMessage.error]]">
			</div>
			<button class="right-magnet" ng-click="saveEditMessage()"><i18n>edit</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelEditMessage()" />
		</article>
	</div>

</div>

<hr />

<behaviour name="contrib" resource="subject">
	<button ng-click="template.open('main', 'reply')" ng-if="!subject.locked" class="cell">Répondre</button>
</behaviour>

<a id="bottom" ng-click="scrollTo('top')" class="right-magnet">&uarr; Haut de la page</a>

