
<h2 class="upper-title">[[subject.title]]</h2>
<a ng-click="closeSubject()" class="row">Retour à l'index</a>
<hr />

<article ng-repeat="message in messages.all" class="twelve cell">
	<div class="row">
		<div class="height-one one cell">
			<img ng-src="/userbook/avatar/[[message.author.id]]" />
		</div>
		<div class="eleven cell horizontal-spacing-twice">
			<em class="small-text">[[date.calendar(message.publicationDate)]], par <a href="/userbook/annuaire/[[message.author.id]]">[[message.author.username]]</a></em>
			<span class="right-magnet small-text">
				<a ng-click="subject.messages.remove(message)">supprimer</a> ou
				<a ng-click="edit(message)">modifier</a>
			</span>
			<p bind-html="message.content"></p>
		</div>
	</div>
</article>

<div class="row" ng-if="!subject.locked">
	<h2>Répondre</h2>
	<article class="twelve cell">
		<html-editor ng-model="message.content" watch-collections="['messages.all']"></html-editor>
		<button class="right-magnet" ng-click="addMessage()">Répondre</button>
	</article>
</div>