<head>
	<link rel="stylesheet" type="text/css" href="/forum/public/css/custom.css">
</head>

<behaviour name="contrib" resource="subject">
	<button ng-click="template.open('main', 'reply')" ng-if="!subject.locked"><i18n>forum.reply</i18n></button>
</behaviour>

<div class="row">
	<h2 class="cell">[[subject.title]]</h2>

	<a id="top" ng-click="scrollTo('bottom')" class="right-magnet">&darr; <i18n>forum.go.to.last.message</i18n></a>
</div>



<div ng-repeat="message in messages.all" class="toggle-buttons-spacer">
	<div class="row vertical-spacing"></div>
	<div class="illustrated-article">
		<div class="small illustration" ng-click="viewAuthor(message)">
			<div class="image">
				<img ng-src="/userbook/avatar/[[message.owner.userId]]" />
			</div>
		</div>
		<article class="illustrated-text" ng-if="message !== editedMessage">
			<div class="row">
				<div class="six cell">
					<strong><a ng-click="viewAuthor(message)">[[message.owner.displayName]]</a></strong>, le <span class="small-text">[[formatDateShort(message.created.$date)]]</span>
				</div>
				<behaviour name="publish" resource="subject" class="contextual-buttons right-magnet small-text">
					&nbsp;<i18n>forum.or</i18n>&nbsp;
					<a ng-click="confirmRemoveMessage(message)">
						<i18n>forum.remove</i18n>
					</a>
				</behaviour>
				<div class="contextual-buttons right-magnet small-text">
					<!-- Moderators can edit all messages. Owner can edit his message only if the subject is not locked -->
					<behaviour name="publish" resource="subject" >
						<a ng-click="editMessage(message)">
							<i18n>forum.edit</i18n>
						</a>
					</behaviour>
					<span ng-if="ownerCanEditMessage(subject, message) === true">
						<a ng-click="editMessage(message)">
							<i18n>forum.edit</i18n>
						</a>
					</span>
				</div>
			</div>
			<p bind-html="message.content"></p>
		</article>
		<article class="illustrated-text edit-message" ng-if="message === editedMessage">
			<html-editor ng-model="editedMessage.content" required></html-editor>
			<div class="ten cell warning" ng-if="editedMessage.error !== undefined" translate content="[[editedMessage.error]]">
			</div>
			<button class="right-magnet" ng-click="saveEditMessage()"><i18n>edit</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelEditMessage()" />
		</article>
	</div>

</div>

<hr />

<behaviour name="contrib" resource="subject">
	<button ng-click="template.open('main', 'reply')" ng-if="!subject.locked" class="cell"><i18n>forum.reply</i18n></button>
</behaviour>

<a id="bottom" ng-click="scrollTo('top')" class="right-magnet">&uarr; <i18n>forum.go.to.top</i18n></a>

<div ng-if="display.confirmDelete">
	<lightbox show="display.confirmDelete" on-close="cancelRemoveMessage()">
		<div class="row">
			<i18n>forum.confirm.delete.message</i18n>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="removeMessage()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveMessage()" />
		</div>
	</lightbox>
</div>
