
<div class="twelve cell">
	<behaviour name="publish" resource="category" class="contextual-buttons row">
		<div class="right-magnet cell">
			<button ng-click="newSubject()"><i18n>forum.subject.new</i18n></button>
		</div>
	</behaviour>
	<div class="row vertical-spacing"></div>
	<h2>[[category.name]]</h2>

	<table class="twelve list-view">
		<thead>
			<tr>
				<th></th>
				<th>Titre</th>
				<th>Réponses</th>
				<th>De</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="subject in subjects.all" ng-class="{ checked: subject.selected }">
				<td>
					<behaviour name="publish" resource="category">
						<input type="checkbox" ng-model="subject.selected" />
					</behaviour>
				</td>
				<td ng-click="openSubject(subject)"><i class="prive" ng-if="subject.locked"></i> <a>[[subject.title]]</a></td>
				<td ng-click="openSubject(subject)">[[subject.nbMessages]] réponse(s)</td>
				<td ng-click="openSubject(subject)">
					<i18n>forum.by</i18n>[[subject.lastMessage.owner.displayName]]<i18n>forum.on.the</i18n>[[formatDate(subject.lastMessage.created.$date)]]
				</td>
			</tr>
		</tbody>

	</table>
	<div ng-if="subjects.all.length === 0">
		Aucun sujet de discussion n'a été ouvert dans cette catégorie !
	</div>
</div>

<behaviour name="publish" resource="category" class="cell">
	<section class="toggle-buttons" ng-class="{ hide: subjects.selection().length === 0 }">
		<div class="toggle">
			<div class="row">
				<button ng-click="confirmRemoveSelectedSubjects()"><i18n>remove</i18n></button>
				<button
						ng-if="(subjects.where({ locked: undefined, selected: true}).length > 0 || subjects.where({ locked: false, selected: true}).length > 0)
								&& subjects.where({ locked: true, selected: true}).length === 0"
						ng-click="subjects.lockSelection()"
				>
					<i18n>lock</i18n>
				</button>
				<button ng-if="subjects.where({ locked: true, selected: true}).length > 0 
								&& (subjects.where({ locked: undefined, selected: true}).length === 0 || subjects.where({ locked: false, selected: true}).length === 0)"
						ng-click="subjects.unlockSelection()"
				>
					<i18n>unlock</i18n>
				</button>
			</div>
		</div>
	</section>
</behaviour>

<div ng-if="display.confirmDeleteSubjects">
	<lightbox show="display.confirmDeleteSubjects" on-close="cancelRemoveSubjects()">
		<div class="row" ng-if="subjects.selection().length === 1">
			<i18n>forum.confirm.delete.subject</i18n>
		</div>
		<div class="row" ng-if="subjects.selection().length > 1">
			<i18n>forum.confirm.delete.subjects</i18n>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="removeSelectedSubjects()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveSubjects()" />
		</div>
	</lightbox>
</div>
