<div class="twelve cell" ng-if="display.state ===  display.STATE_CATEGORY">
	<table class="twelve list-view">
		<thead>
			<tr>
				<th></th>
				<th><i18n>forum.subjects.header.title</i18n></th>
				<th><i18n>forum.subjects.header.messages</i18n></th>
				<th><i18n>forum.subjects.header.author</i18n></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="subject in subjects.all" ng-class="{ checked: subject.selected }">
				<td>
					<resource-right name="publish" resource="category">
						<input type="checkbox" ng-model="subject.selected" />
					</resource-right>
				</td>
				<td ng-click="openSubject(subject)"><i class="prive" ng-if="subject.locked"></i> <a>[[subject.title]]</a></td>
				<td ng-click="openSubject(subject)">[[subject.nbMessages]]<i18n>forum.subjects.column.messages</i18n></td>
				<td ng-click="openSubject(subject)">
					<i18n>forum.by</i18n>[[subject.lastMessage.owner.displayName]]<i18n>forum.on.the</i18n>[[formatDate(subject.lastMessage.created.$date)]]
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="subjects.all.length === 0">
		<i18n>forum.subjects.empty</i18n>
	</div>
</div>

<div class="twelve cell" ng-if="display.state ===  display.STATE_SUBJECT">
	<div class="row">
		<button class="cell" ng-click="backToCategory()">&lt;</button>
		<h2 class="cell">[[subject.title]]</h2>
	</div>

	<div ng-repeat="message in messages.all" class="illustrated-article">
		<div class="small illustration" ng-click="viewAuthor(message)">
			<div class="image">
				<img ng-src="/userbook/avatar/[[message.owner.userId]]" />
			</div>
		</div>

		<article class="illustrated-text" ng-if="message !== editedMessage">
			<div class="row">
				<div class="six cell">
					<strong><a ng-click="viewAuthor(message)">[[message.owner.displayName]]</a></strong>, le <span class="small-text">[[formatDateShort(message.created.$date)]]</span>
				</div>
				<resource-right name="publish" resource="subject" class="contextual-buttons right-magnet small-text">
					&nbsp;<i18n>forum.or</i18n>&nbsp;
					<a ng-click="confirmRemoveMessage(message)">
						<i18n>forum.remove</i18n>
					</a>
				</resource-right>
				<div class="contextual-buttons right-magnet small-text">
					<!-- Moderators can edit all messages. Owner can edit his message only if the subject is not locked -->
					<resource-right name="publish" resource="subject" >
						<a ng-click="editMessage(message)">
							<i18n>forum.edit</i18n>
						</a>
					</resource-right>
					<span ng-if="ownerCanEditMessage(subject, message) === true">
						<a ng-click="editMessage(message)">
							<i18n>forum.edit</i18n>
						</a>
					</span>
				</div>
			</div>
			<p bind-html="message.content"></p>
		</article>

		<article class="illustrated-text edit-message" ng-if="message === editedMessage">
			<html-editor ng-model="editedMessage.content" required></html-editor>
			<div class="ten cell warning" ng-if="editedMessage.error !== undefined" translate content="[[editedMessage.error]]">
			</div>
			<button class="right-magnet" ng-click="saveEditMessage()"><i18n>edit</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelEditMessage()" />
		</article>
	</div>

</div>